*.iml
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/caches/build_file_checksums.ser
/.idea/codeStyles/*
/.idea/dictionaries
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
encodings.xml
Project.xml
